mybatis-plus:
  mapper-locations: classpath:mapper/pms/*.xml
  type-aliases-package: com.atguigu.gmall.pms.entity
  global-config:
    db-config:
      id-type: auto
feign:
  sentinel:
    enabled: true
  client:
    config:
      default:
        connectTimeout: 20000
        readTimeout: 20000
server:
  port: 18081
logging:
  level:
    com.atguigu.gmall: debug
spring:
  cloud:
    alibaba:
      seata:
        tx-service-group: gmall_tx_group
  rabbitmq:
    host: 192.168.140.223
    virtual-host: /zws
    username: zws
    password: zws
    publisher-confirm-type: correlated
    publisher-returns: true